<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <p>
                Como is a pioneer in the field of mobile apps,
                enabling small businesses to turn their customer's
                smartphones and tablets into tools for creating and
                sustaining loyalty and driving revenue.
                Requiring no technical background and offering comprehensive guidance,
                Como's do-it-yourself solution makes it easy to connect with on-the-go
                customers through a custom app loaded with a robust selection of
                loyalty-enhancing features.
            </p>
            <p>
                Built from the ground up to meet the needs of small businesses
                of all types, Como's award-winning platform has been used to
                create more than one million apps. A leader in app creation since 2010,
                Como remains committed to helping its members harness the power of
                mobile technology to drive real business results.
                Como grew out of Conduit Ltd., an international software innovation company.
            </p>

            </p>
            <blockquote>
                <p>Como!</p>

                <small>by <cite>Pool Boy</cite></small>
            </blockquote>

        </div>

    </div>

</div>