<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-xs-2">Book Name:</label>
                    <div class="col-xs-10">
                        <input type="text" class="form-control" ng-model="insertCtrl.title" required><br>

                    </div>

                </div>
                <div class="form-group">
                    <label class="control-label col-xs-2">Book Author:</label>
                    <div class="col-xs-10">
                        <input type="text" class="form-control" ng-model="insertCtrl.author" required><br>

                    </div>

                </div>
                <div class="form-group">
                    <label class="control-label col-xs-2">Book Year:</label>
                    <div class="col-xs-10">
                        <input type="text" class="form-control" ng-model="insertCtrl.year" required><br>

                    </div>

                </div>
                <div class="form-group">
                    <label class="control-label col-xs-2">Cover Link:</label>
                    <div class="col-xs-10">
                        <input type="text" class="form-control" ng-model="insertCtrl.link"><br>

                    </div>

                </div>

                <div class="form-group" ng-hide="insertCtrl.link">
                    <label class="control-label col-xs-2">Cover File:</label>
                    <div ng-if="insertCtrl.uploader" class="col-xs-10">
                        <input id="file" type="file" nv-file-select uploader="insertCtrl.uploader"><br>
                        <ul>
                            <li ng-repeat="item in insertCtrl.uploader.queue">
                                Name: <span ng-bind="item.file.name"></span><br>
                                <button class="btn btn-primary" ng-click="insertCtrl.submit() ; item.upload()">Submit with file!</button>
                            </li>
                        </ul>
                    </div>

                </div>

                <div class="form-group">
                    <div class="col-xs-offset-2 col-xs-10">
                        <button class="btn btn-primary" ng-click="insertCtrl.submit()" ng-show="insertCtrl.link">Submit with link!</button>
                    </div>
                </div>

            </form>

        </div>

    </div>

</div>
