<div id="wrapper">

    <!-- sidebar -->
    <div id="sidebar-wrapper">
        <ul class="nav nav-pills nav-stacked" id="menu">

            <li>
                <a ng-click="adminCtrl.users()"><span class="glyphicon glyphicon-user"></span>Users</a>
            </li>
            <li>
                <a ng-click="adminCtrl.books()"><span class="glyphicon glyphicon-tree-conifer"></span>Books</a>
            </li>
            <li>
                <a ng-click="adminCtrl.books()"><span class="glyphicon glyphicon-apple"></span>Dashboard</a>
            </li>
            <li>
                <a ng-click="adminCtrl.books()"><span class="glyphicon glyphicon-alert"></span>Statistics</a>
            </li>
            <li>
                <a ng-click="adminCtrl.books()"><span class="glyphicon glyphicon-new-window"></span>Promote</a>
            </li>
            <li>
                <a ng-click="adminCtrl.books()"><span class="glyphicon glyphicon-wrench"></span>Suppliers</a>
            </li>
        </ul>
    </div>

    <!-- main page -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div ui-view>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>