<div id="master" ng-show="on">
    <form ng-submit="editCtrl.submit(book._id)">
        <input class="form-control" ng-model="editCtrl.title" placeholder={{book.title}}>
        <input class="form-control" ng-model="editCtrl.author" placeholder={{book.author}}>
        <input class="form-control" ng-model="editCtrl.year" placeholder={{book.year}}>
        <input class="form-control" ng-model="editCtrl.link" placeholder="Paste URL">
        <button type="submit" class="btn btn-block">Edit</button>
    </form>
</div>


