<div class="container" id="login-image">
    <form class="form-login" ng-submit="loginCtrl.submit()">
        <h2 class="form-login-h2">Welcome to BuK</h2>
        <input type="email" ng-model="loginCtrl.username" class="form-control ng-class:{error: loginCtrl.error}" placeholder="Email address" required>
        <input type="password" ng-model="loginCtrl.password" class="form-control ng-class:{error: loginCtrl.error}" placeholder="Password" required>
        <button class="form-login-button btn btn-lg btn-primary btn-block" type="submit">Login</button>
        <h4 ng-show="loginCtrl.wrong">wrong username/password</h4>
        <h4 ng-show="loginCtrl.error">error logging in, please retry</h4>
    </form>
</div>