<nav class="navbar navbar-inverse">

    <div class="container-fluid">

        <div class="navbar-header">

            <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#right-nav" aria-expanded="false">

                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>

            </button>

            <a class="navbar-brand" ui-sref="home">
                <img alt="Brand" src="http://static-marketing.como.com/images/site/2015/05/como-footer-logo-r-light.png">
            </a>

        </div>


        <div class="collapse navbar-collapse" id="right-nav">

            <ul class="nav navbar-nav navbar-right">
                <li><h4><label class="label label-success">Welcome, {{navCtrl.name}}</label></h4></li>
                <li><a ui-sref="login" ng-click="navCtrl.logout()"><span class="glyphicon glyphicon-globe"></span>Logout</a></li>
                <li><a ui-sref="about"><span class="glyphicon glyphicon-flag"></span>About</a></li>
                <li ng-hide="navCtrl.role == 'reader'"><a ui-sref="addBook"><span class="glyphicon glyphicon-plus"></span>Add Book</a></li>
                <li ng-show="navCtrl.role == 'admin'"><a ui-sref="admin"><span class="glyphicon glyphicon-user"></span>Admin</a></li>
            </ul>

        </div>

    </div>

</nav>